.App{
 display: flex;
 align-items: center;
 justify-content: center;
 height:100vh;
 font-family: "Rubik", sans-serif;
 color:#444b4f;
 background: linear-gradient(
  150deg,
  rgb(238, 57, 25) 0%,
  rgb(255, 73, 7) 50%,
  rgb(255, 255, 31) 50%,
  rgb(211, 188, 14) 100%
 );
}

